.shop-products__element-button {
  border-radius: 4px;
  color: $white;
  text-align: center;
  @include text(16px, 400, 24px);
  @include padding(8px, 24px, 24px, 8px);
  border: none;

  &--add {
    background-color: $mortar;
  }

  &--end {
    background-color: $green;
  }
}
