.shop-products__price-value {
  display: flex;
  @include text(24px, 500, 32px);

  &--current {
    color: $red;
  }

  &--old {
    color: $grey;
    text-decoration-line: line-through;
  }
}

%footer__text {
  color: $white;
  @include text(16px, 400, 24px);
}
