//text-variables
$main-font: "Cabin", "sans-serif";

//color-variables
$mid-white: #eeeeef;
$azure: #10bbd5;
$white: #f8fdfe;
$black: #000;
$bgd-white: #fff;
$light-black: #1f1f1f;
$grey: #8e8e8e;
$purple: #4200ff;
$violet: #af39e7;
$pink: #ea33c0;
$red: #e90000;
$mortar: #4c394e;
$green: #4d762d;
