.footer {
  display: flex;
  height: 88px;
  background: $mortar;
}

.footer-content {
  display: flex;
  @include padding(32px, 0, 0, 32px);
  justify-content: space-between;
}

.footer-content__copyright {
  display: flex;
  @extend %footer__text;
}

.footer-content__rights-reserved {
  display: flex;
  @extend %footer__text;
}
