.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bgd-top {
  background: $azure;
}

.header-top {
  display: flex;
  @include padding(16px, 0, 0, 16px);
  align-items: center;
  justify-content: space-between;
}

.header-top__logo-img {
  display: flex;
}

.header-top__logo-title {
  display: flex;
  color: $white;
  @include text(24px, 0, normal);
}

.header-top__logo-link {
  display: flex;
  @include link(none, $white);
}

.bgd-bottom {
  background-color: $bgd-white;
  @include margin(0, 0, 0, 32px);
}

.header-bottom {
  display: flex;
  @include padding(4px, 0, 0, 4px);
  align-items: center;
  justify-content: space-between;
}

.header-bottom__text {
  color: $black;
  @include text(16px, 400, 24px);
}

.header-top__cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-top__cart-prise {
  display: flex;
  color: $white;
  @include text(16px, 400, 24px);
}

.header-top__cart-button {
  width: 40px;
  height: 40px;
  background: $azure;
  background-image: url(/images/cart-icon.png);
  border: none;
  color: $black;
  @include text(12px, 1400, 10px);
  @include padding(12px, 18px, 20px, 19px);
}
