.main__title {
  color: $light-black;
  @include text(32px, 600, 40px);
  @include margin(0, 0, 0, 23px);
}

.main-chat-button {
  background-image: url(/images/chat.png);
  background-color: inherit;
  border: none;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 28%;
  top: 68%;
}
