.shop-products {
  display: flex;
  @include padding(24px, 0, 0, 0);
  border-top: 1px solid $grey;
  justify-content: center;
  @include margin(0, 0, 0, 120px);
}

.shop-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  row-gap: 32px;
}

.shop-products__category-container {
  position: absolute;
  display: flex;
  gap: 4px;
}

.shop-products__category-hit {
  position: relative;
  display: flex;
  @include category-details(4px, $purple, $white, center);
  @include padding(4px, 8px, 8px, 4px);
  @include text(16px, 400, 24px);
}

.shop-products__category-new {
  position: relative;
  display: flex;
  @include category-details(4px, $violet, $white, center);
  @include padding(4px, 8px, 8px, 4px);
  @include text(16px, 400, 24px);
}

.shop-products__category-discount {
  position: relative;
  display: flex;
  @include category-details(4px, $pink, $white, center);
  @include padding(4px, 8px, 8px, 4px);
  @include text(16px, 400, 24px);
}

.shop-products__element {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $white;
  @include padding(32px, 32px, 32px, 32px);
}

.shop-products__element-link {
  @include link(none, $light-black);
  @include text(20px, 700, 28px);
}

.shop-products__element-image {
  @include margin(0, 0, 0, 16px);
  @include padding(0, 32px, 32px, 0);
  width: 178px;
  height: 280px;
}

.shop-products__element-name {
  border-bottom: 1px solid $grey;
}

.shop-products__element-author {
  color: $grey;
  @include text(16px, 400, 24px);
}

.shop-products__price-container {
  display: flex;
  gap: 24px;
  align-items: center;
  @include margin(8px, 0, 0, 16px);
}
